* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --light-blue: #799FFE;
  --medium-blue: #272d43;
  --dark-blue: #333D5F;
  --light-purple: #A04CF5;
  --medium-purple: #717fb0;
  --dark-purple: #734F9D;
  --light-pink: #EF9FCB;
  --black: #121212;
  --white: #FFFFFF;

  --radius: .5rem;


}
