.results {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.resultsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 610px) {
    grid-template-columns: 1fr;
  }
}